@use './colors' as *;

#contact {
    background: rgb(1, 8, 27);
    color: $light;
    width: 100%;
    margin: 0 auto;
    #content {
      margin: 0 auto;
    }
}
.column {
  form {
    width: 100%;
    margin: 0;
    label, input{
      width: 100%;
      font-size: 1vw;
    }
  }
}

label, h2, span{
    color: black;
}

input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 0.4vw;
    border: 0.1vw solid #ccc;
    margin-top: 0.5vw;
    margin-bottom: 1.5vw;
    resize: vertical;
  }

  input::placeholder, textarea::placeholder {
    font-size: 0.8vw !important;
    font-family: 'montserrat' !important;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 0.5vw 1vw;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #294dc4;
  }
  
  .container {
    height:80%;
    border-radius: 0.5vw;
    background-color: #f2f2f2;
    padding: 2vw;
    font-size: 1vw;
  }
  
  .column {
    float: left;
    width: 30%;
    margin: 0;
    padding: 2vw 0;
    label {
      line-height: 110%;
    }
  }
  .bold {
    font-weight: 600;
  }
  .email {
    span {
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
  
  .row:after {  
    content: "";
    display: table;
    clear: both;
  }
.contactImg {
    width:5%;
    height: 5%;
}
.imgcontact {
  width: 50%;
}