@use './colors' as *;

#event {
    background: rgba(1, 8, 27, 0.8);
    color: $light;
}

.center {
    font-size: x-large;
    align-items: center;
    text-align: justify;
    padding: 0 5vw;
    h1 {
        font-size: 3vw;
        font-weight: 600;
        margin: 0 0 4vw 0;
    }
    .quote{
        font-style: italic;
    }
    p {
        font-size: 1.5vw;
        margin: 2vw 0;
    }
    
}

.carousel{
    width: 100%;
    h1 {
        font-size: 3vw;
        font-weight: 600;
        margin: 0;
    }
    .slideshow {
        width: 100%;
        height: 70vh !important;
        padding: 3vw 0;
        .item {
            width: 70%;
            box-shadow: 0 0 0.7vw 0.05vw $shadow;
            background: $light;
            color: $dark;
            padding: 3vw 0;
            margin: 3vw auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            h3 {
                width: 60%;
                font-size: 1.4vw;
                font-weight: 600;
            }
            span {
                width: 60%;
                font-size: 1vw;
            }
        }
        .sliderOptions {
            font-size: 1.4vw;
            border: none;
            background: rgba(0,0,0,0.4);
            color: $light;
            border-radius: 50%;
            width: 2.5vw;
            height: 2.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    
}

.carousel2{
    width: 100%;
    height: 80%;
    h1 {
        font-size: 3vw;
        font-weight: 600;
        margin: 0;
    }
    .table{
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-collapse: separate;
        border-spacing: 200px 0;
        .time{
            text-align: left;
            white-space: nowrap;
            
        }
        .content{
            text-align: right;
            font-style: italic;
    }
    td {
        padding: 8px 0;
        
      }
    }
    th{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 10px 0;
    }
}

.prizes{
    width: 100%;
    height: 80%;
    h1 {
        font-size: 3vw;
        font-weight: 600;
        margin: 0;
    }
}