@use './colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    background: rgb(1, 8, 27);
    overflow: hidden;
}

* {
    line-height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    &::-webkit-scrollbar {
        visibility: collapse;
    }
}

a {
    text-decoration: none;
    color: inherit;
}